<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
    <!--消息服务器IP地址-->
    <add key="ServerIP" value="10.238.208.78"/>
    <!--消息服务器端口-->
    <add key="ServerPort" value="9011"/>
    <!--客户端连接消息服务器心跳频率（单位：秒）-->
    <add key="HeartFrequency" value="7200"/>
    <!--客户端应用程序-->
    <add key="ClientApp" value="Aostar.MVP.Client.exe"/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--创建文件格式，路径-->
      <param name="File" type="txt" value="logs\\"/>
      <!--设置日志文件名,按每天日期自动生成-->
      <DatePattern value="'DownloadService_'yyyyMMdd'.txt'"/>
      <!--多线程时采用最小锁-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--是否追加到文件，默认为true-->
      <AppendToFile value="true" />
      <!--变换日期格式，Date设置每天只有一个日志文件,Size为日志按大小来存储,Composite:混合模式-->
      <RollingStyle value="Date" />
      <param name="StaticLogFileName" value="false" />
      <!--日志编码格式-->
      <Encoding value="UTF-8" />
      <!--////////////////START-输出日志格式信息////////////////-->
      <!--&#13;&#10;(换行符号，用16进制表示)-->
      <layout type="log4net.Layout.PatternLayout">
        <header value="-----------------程序开始运行-------------------&#13;&#10;"/>
        <footer value="-----------------程序结束运行-------------------&#13;&#10;"/>
        <conversionPattern value="%date  %-5level %logger  - %message%newline" />
        <!--日志输出格式，时间，线程，级别，出错类，描述(没有pdb文件时无法输出方法名和行号)-->
        <conversionPattern value="记录时间：%date  线程ID：[%thread]  日志级别：%-5level  类名：%logger property:[%property{NDC}]   -描述：%message%newline"/>
      </layout>
      <!--////////////////END-输出日志格式信息//////////////////-->
    </appender>
    <!--输出到控制台中的格式   debug时采用-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>
    <!--定义日志的输出媒介，和类型-->
    <root>
      <!--记录哪个级别以上的日志： (日志级别由到到低)OFF->FATAL->ERROR->WARN->INFO->DEBUG/ALL-->
      <level value="ALL" />
      <!--引用的appender的名称-->
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
