<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--数据上传地址-->
    <add key="server" value="http://10.238.208.88:9000/portal/portal_mvp/rest/mvpV/uploadinstallmachineinfo" />
    <!--客户端配置：简易客户端为1,客户端为0-->
    <add key="type" value="0"/>
  </appSettings>
</configuration>