<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ShortcutName" value="班组一体化系统普通版"/>
    <add key="AppName" value="Aostar.MVP.Main.exe"/>
    <add key="IconName" value="Images\普.ico"/>
    <add key="StartMenuName" value="国家电网"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
