<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--value为要排除的文件列表,有多个用|隔开!-->
    <add key="ExcludeFiles" value="Thumbs.db|*.pdb"/>
    <add key="LastUsedDbType" value="0"/>
    <add key="MySqlServerAddress" value=""/>
    <add key="MySqlDbName" value=""/>
    <add key="MySqlPort" value="3306"/>
    <add key="MySqlUserName" value=""/>
    <add key="MySqlPassword" value=""/>
    <add key="OracleServerAddress" value=""/>
    <add key="OracleDbName" value=""/>
    <add key="OraclePort" value="1521"/>
    <add key="OracleUserName" value=""/>
    <add key="OraclePassword" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
